body {
    min-height: 2000px;
    /*background-image: url("/static/app/images/ivy.jpg"); */
    font-family: AppleSDGothicNeo-Light, sans-serif-light;
}

/*
@media screen and (max-width: 400) {
	.book-photo {
		width:auto;
		height:80;
	}
}

@media screen and (min-width: 400) {
	.book-photo {
		width:auto;
		height:120;
	}
}
*/

@media (min-width: 0) {
    .right-panel {
        padding-left: 0;
        padding-right: 0;
    }
    .left-panel {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 992px) {
    .right-panel {
        padding-left: 10px;
        padding-right: 0;
    }
    .left-panel {
        padding-left: 0;
        padding-right: 0;
    }
}

.top-container {
    padding-left: 0;
    padding-right: 0;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 12pt;
}

.navbar-default .navbar-brand {
    color: white !important;
    font-size: 16pt;
    font-weight: bold;
}

/* prevent body from scrolling when modal popup */
body.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.navbar-toggle {
    background-color: white;
    display: inherit;
}

.navbar-static-top {
    margin-bottom: 0;
    background-color: #4CAF50;
}

.navbar-static-top .glyphicon {
    color: #777;
}

.navbar li a {
    padding-bottom: 4px;
    padding-right: 4px;
    padding-left: 4px;
    margin-left: 8px;
    margin-right: 8px;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    border-bottom: solid 2px;
    background: #4CAF50;
    color: white;
}

/*
.navbar-brand {
	color: #4CAF50 !important;
}
*/
.form-control {
    -webkit-appearance: none;
    -moz-appearance: none; /* mobile firefox too! */
    font-size: 16px;
}

.main-content {
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.main-content .list-group {
    margin-bottom: 8px;
    border-radius: 2px;
}

.main-content .list-group-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.main-content .list-group-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.list-item-bottom-double {
    border-bottom: double 3px #ddd;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.status-box {
    color: black;
    background: white;
    margin-bottom: 8px;
    border-radius: 2px;
    padding: 8px;
    margin-top: 1px;
    border: 0;
}

.status-box > h4 {
    font-size: 16px;
}

.status-box > p {
    font-size: 10pt;
}

.status-box .panel-heading {
    background: inherit;
    color: white;
    border: 0;

}

.status-box .user-photo {
    background: white;
    color: #d3d3d3;
    border-radius: 50%;
    padding: 5px;
}

.progress {
    margin-top: 4px;
    margin-bottom: 4px;
}

.glyphicon {
    margin-right: 2px;
}

.submenu1 > li > a {
    color: #4CAF50 !important;
}

.note-reply-panel > .panel-heading {
    background-color: white;
}

.note-reply-panel {
    margin-top: 8px;
}

.note-new-panel .thumbnail-title {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.note-new-panel .date-label, .note-new-panel .date-item {
    float: left;
    width: auto;
}

.note-new-panel .date-label {
    margin-right: 4px;
}

.note-new-panel {
    margin-top: 8px;
}

.note-list-row {
    margin-left: 0;
    margin-right: 0;
}

.note-panel {
    border-radius: 2px;
    margin-bottom: 8px;
}

.note-panel .note-info {
    font-size: 9pt;
    color: #595959;
}

.note-panel .book-photo {
    padding: 4px;
    width: auto;
    height: 80px;
}

.note-panel .note-content {
    margin-top: 6px;
    margin-bottom: 4px;
    font-size: 14px;
}

.note-panel > .panel-heading {
    background-color: white;
    border-bottom: none;
    overflow: hidden;
}

.note-panel .panel-title {
    font-size: 12pt;
    font-weight: bold;
    text-overflow: ellipsis;
}

.note-panel > .panel-footer {
    background-color: white;
}

.note-panel > .panel-body {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 8px;
    /* height: 150; */
}

.note-panel .note-submenu .btn {
    border: 0;
}

.note-panel .note-submenu .glyphicon {
    margin-right: -8px;
}

.note-detail > .note-panel {
    margin-top: 8px;
    margin-bottom: 8px;
}

.note-detail .book-photo {
    width: 80px;
    height: auto;
}

.note-new-panel > .panel-heading > a {
    color: white;
}

.book-search-modal .modal-body {
    height: 300px;
}

.book-search-modal .modal-header {
    padding: 10px;
}

.book-search-modal .row {
    margin-top: 8px;
}

.book-search-modal .caption {
    font-size: 8pt;
}

.book-search-modal .book-photo {
    height: 80px;
    width: auto;
}

.float-menu {
    border: 1px solid red;
    border-radius: 50%;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100px;
}