.book-panel {
    border-radius: 2px;
    margin-bottom: 8px;
}

.book-panel .panel-title {
    font-weight: bold;
}

.book-panel > .book-panel-body > .book-info {
    font-size: 9pt;
    color: #595959;
}

.book-panel .book-photo {
    padding: 4px;
    width: auto;
    height: 80px;
}

.book-panel > .book-panel-body > .book-content {
    margin-top: 4px;
    margin-bottom: 4px;
}

.book-panel > .panel-heading {
    background-color: white;
    border-bottom: none;
    font-size: 18pt;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-panel > .panel-footer {
    background-color: white;
}

.book-panel > .panel-body {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

