[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

/* always show srollbar  */

body {
    overflow-y: scroll;
}

@media screen and (max-width: 480px) {
    .menu_caption {
        display: none;
    }

    .search-icon-only {
        display: inline;
    }

    .page-left {
        padding-right: 0 !important;
    }
}

@media screen and (max-width: 768px) {
    .page-left {
        padding-right: 0 !important;
    }

}

@media screen and (min-width: 481px) {
    .menu_caption {
        display: inline;
    }

    .search-icon-only {
        display: none;
    }
}

.container-fluid .navbar {
    margin-left: -8px;
    margin-right: -8px;
}

.navbar-brand {
    font-size: 26px !important;
    margin-right: 50px;
}

.navbar-nav > li {
    font-size: 17px;
    font-weight: 500;
    padding: 0;
}

.navbar-nav > li > a {
    color: #ffffff;
}

/* 화면이 모바일 크기로 줄어들었을 때 책 검색 input box가 다음 줄로 가는 것을 방지하는 기능*/
.navbar-form .form-control, .navbar-form .input-group-btn {
    width: auto !important;
}

.navbar .form-group {
    margin-bottom: 0;
}

/* 모바일 화면에서 서브 메뉴을 위한 스타일 */
.float-menu {
    padding: 14px;
    color: white;
    font-size: 16px;
    z-index: 1;
    width: 40px;
    height: 40px;
}

/*
    Active인 메뉴 표시
*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    border-bottom: solid 4px #ffffff;
    padding-bottom: 8px;
    color: #E8F5E9 !important;
}

.error-msg {
    font-size: 9pt;
    color: #595959;

    margin-top: 6px;
    margin-left: 6px;
}

.error-msg .glyphicon-info-sign {
    color: #FF4081;
    margin-right: 2px;
}

.login-icon {
    display: block;
    /* max-width: 40px !important;
    max-height: 40px !important; */
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    border: 0;
    margin: 2px;
}

.list-item .login-icon {
    width: 45px !important;
    height: 45px !important;
}

.page-left {
    padding-right: 16px;
    padding-left: 0 !important;
}

.page-right {
    background: #fff;
    border-radius: 4px;

}

.page-right .list-title {
    margin-left: 4px;
    border-bottom: solid 1px #ddd;
}

.list-item {
    margin-bottom: 8px;
    border: none;
}

.list-item > .panel-heading {
    padding-left: 8px;
    padding-right: 8px;
    background-color: white;
    border-bottom: none;
}

.list-item .panel-title {
    font-size: 12pt;
    font-weight: bold;
    text-overflow: ellipsis;
}

.list-item .media-heading {
    font-size: 12pt;
    font-weight: bold;
    text-overflow: ellipsis;
}

.list-item .media-heading a {
    color: black;
}

.list-item > .panel-footer {
    background-color: white;
    border-top: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    padding-left: 8px;
    padding-right: 8px;
}

.list-item > .panel-body {
    padding: 0 8px;
    margin-bottom: 0;
}

.list-item .panel-detail, .detail-item .panel-detail {
    font-size: 8pt !important;
    color: #595959;
}

.list-item .panel-content, .detail-item .panel-content {
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 14px;
}

.list-item .panel-action {
    margin-top: 8px;

}

.list-item .panel-action a {
    margin-top: 4px;
    color: #595959;
    font-size: 14px;
}

.detail-item .panel-heading, .detail-item .panel-footer {
    background: #ffffff;
}

.list-item .book-photo-large {
    padding: 4px 4px 4px 8px;
    width: 80px;
    height: auto;
}

.list-item .deleteitem {
    background: red;
}

.list-item .book-photo-small {
    padding: 4px 4px 4px 8px;
    width: 75px;
}

.list-item .delete-msg .alert {
    padding: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.list-item .list-item-action-btn {
    border: 0;
    background: white;
}

.list-item .panel-footer {
    padding-top: 2px;
}

.list-item .panel-footer a {
    color: #595959;
}

.list-item .form-horizontal {
    margin-top: 15px;
}

.list-item .inline-control {
    width: auto;
    float: left;
    margin-top: 4pt;
    margin-bottom: 4pt !important;
    margin-right: 2pt;
}

.detail-item .book-photo {
    padding: 4px 4px 4px 8px;
    width: 100px;
    height: auto;
}

.book-search-modal .book-photo {
    width: 72px;
    height: 100px;
}

.book-search-modal .book-caption {
    font-size: 10px;
    color: #595959;
    text-align: center;
}

.book-search-modal .book-caption .book-title {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2px;
}

.book-search-modal .book-caption .book-detail {
    font-size: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2px;
}

.book-search-modal .book-caption p {
    margin: 0;
}

.book-search-modal .row {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.book-search-modal .thumbnail {
    background: white;
    border: 0;
}

.user-info-container {
    background: #fff;
    border-radius: 4px;
}

.user-info-container label {
    color: #555;
}

.user-info-container .inline-control {
    width: auto;
    float: left;
    margin-top: 4pt;
    margin-bottom: 4pt !important;
    margin-right: 2pt;
}

.user-info-container button[type='submit'] {
    width: auto;
    margin-bottom: 8px;
}

.user-info-container .img-thumbnail {
    width: 100px;
    height: auto;
}

.panel-error-msg p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.list-item .user-photo {
    width: 100px;
    height: auto;
}

.list-title .form-inline {
    margin-top: 8px;
}

.list-item .http-error .alert {
    margin-top: 8px;
    padding-left: 8px;
}


.list-item .form-group .input-group {
    padding-left: 8px;
    padding-right: 8px;
}

.page-left .panel-body .progress {
    margin-top: 4px;
    margin-bottom: 4px;
    color: #E8F5E9;

}
.page-left .panel-body .progress-bar {
    font-size: 10px;
}

.page-menu-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #E91E63;
    padding: 10px;
    font-size: 18px;
    color: white;
    margin-right: 2px;
}

resource .media:first-child {
    margin-top: 8px !important;
}

.page-menu-button .dropdown-toggle {
    cursor: pointer;
}

.page-menu-button .glyphicon {
    color: white;
}

.list-item .password-form {
    margin-bottom: 4px;
}

.page-info {
    margin-top: 8px;
}

.page-info .alert {
    margin-bottom: 8px;
}

.note-new-panel .inline-control {
    width: auto;
    float: left;
    margin-top: 4pt;
    margin-bottom: 4pt !important;
    margin-right: 2pt;
}

.note-new-panel star-rating {
    font-size: 18px;
}

star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;
}

star-rating ul {
    margin: 0;
    padding: 0;
}

star-rating li {
    padding: 1px;
    color: #a9a9a9;
    text-align: center;
    font-weight: bold;
    font-size: inherit;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}

star-rating li.filled {
    color: #2196f3;
}

#school_search_modal .list-group {
    margin-top: 8px;
}

.beta {
    font-size: 12px;
    font-style: italic;
    font-variant: small-caps;
    vertical-align: super;
}

.user-photo-upload .user-photo {
    cursor: pointer;
}

.error-msg.alert {
    padding: 8px;
}