<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#/note/">Bine</a>
        <ul class="nav navbar-nav visible-sm visible-md visible-lg">
            <li><a href="#/note/"><span class="glyphicon glyphicon-file"></span><span
                    class="menu_caption"> 노트</span></a></li>
            <li class="active"><a href="#/book/"><span class="glyphicon glyphicon-book"></span><span class="menu_caption"> 책</span></a>
            </li>
            <li><a href="#/friend/"><span class="glyphicon glyphicon-user"></span><span class="menu_caption"> 친구</span></a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right visible-sm visible-md visible-lg">
            <li>
                <div class="dropdown pull-right ">
                    <div class="float-menu dropdown-toggle login-user" data-toggle="dropdown" aria-expanded="true">
                        <a href=""><img data-toggle="tooltip" data-placement="left" title="{{ user.fullname }} 로그인 중"
                                        ng-src="{{ user.photo | photo: user.sex }}">
                        </a>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="user_dropdown">
                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                   href="#/user/">{{ user.fullname }}</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/user/">기본 정보 수정</a></li>
                        <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">활동 보기</a>
                        </li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/login/">로그아웃</a></li>
                    </ul>
                </div>
            </li>
        </uL>

        <ul class="nav navbar-nav navbar-right hidden-sm hidden-md hidden-lg">
            <li>
                <a href="#/note/"><span class="glyphicon glyphicon-file"></span></a>
            </li>
            <li class="active">
                <a href="#/book/"><span class="glyphicon glyphicon-book"></span></a>
            </li>
            <li>
                <a href="#/friend/"><span class="glyphicon glyphicon-user"></span></a>
            </li>
            <li>
                <div class="dropdown pull-right">
                    <div class="float-menu dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span
                            class="glyphicon glyphicon-menu-hamburger"></span>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                   href="#/user/">{{ user.fullname }}</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/user/">기본 정보 수정</a></li>
                        <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">활동 보기</a>
                        </li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/login/">로그아웃</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/note/new">책 추천</a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <div class="input-group  hidden-xs">
                    <input type="text" class="form-control" placeholder="책 검색">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
						</span>
                </div>

            </div>
        </form>
    </div>
</nav>

<div class="hidden-xs col-sm-4 col-md-3 page-left">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                {{ user.fullname }}
            </h4>
        </div>
        <div class="panel-body">
            이번 주에 읽은 책은 10권입니다. <br>
            목표한 100권까지는 이제 10권 남았습니다. <br>
            친구들은 10명이 책을 읽었네요. <br>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                메뉴
            </h4>
        </div>
        <div class="list-group">
            <a href="#/note/new/" class="list-group-item">책 추천</a>
        </div>
    </div>
</div>

<div class="col-xs-15 col-sm-11 col-md-12 page-right">
    <div class="col-xs-15">
        <div class="list-title">
            <h4 class="col-sm-6">책 추천</h4>

            <div class="pull-right">
                <form class="form-inline" class="col-sm-10">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="sr-only" for="book_title">책 찾기</label>
                            <input type="search" class="form-control" name="book_title" placeholder="책 찾기"
                                   ng-model="book_title">
						    <span class="input-group-btn">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="true"><span class="glyphicon glyphicon-filter"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu2">
                                        <li role="presentation" ng-class="{'active':current_menu == 'menu1'}">
                                            <a role="menuitem" tabindex="-1" href="" ng-click="show_notes_by_all()">전체 노트 보기</a>
                                        </li>
                                        <li role="presentation" ng-class="{'active': current_menu == 'menu2'}">
                                            <a role="menuitem" tabindex="-1" href="" ng-click="show_notes_by_me()">내 노트 보기</a>
                                        </li>
                                    </ul>
                                </div>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="ng-hide alert alert-info" ng-show="noData">
            <span class="glyphicon glyphicon-alert"></span>추천할 책이 없습니다.
        </div>
    </div>
    <div class="list-item media col-xs-offset-7 col-xs-1" ng-show="loading">
        <img src="/static/app/images/loading.gif" width="50px" height="50px">
    </div>
    <div class="list-item media col-xs-15" ng-repeat="book in books | filter:book_title" repeat_done="iteration_done()"
         ng-show="!loading">
        <div class="media-left">
            <a href="#/note/{{ note.id }}">
                <img class="media-object" ng-src="{{ book.photo }}" alt="{{ book.title }}">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a href="#/book/{{ note.id }}">{{ book.title }}</a></h4>

            <div class='panel-detail'>
                <span>저자: {{ book.author }}</span> |
                <span>출판사: {{ book.publisher }}</span> |
                <span>ISBN: {{ book.isbn }}</span> |
                <span>출판일: {{ book.pub_date | date:"yyyy/MM/dd" }}</span>
            </div>
            <p class="panel-content">{{ book.description | truncate: 256 }}</p>

            <div class="panel-action">
                <div ng-show="note.user.id != user.id">
                    <a href="#/note/{{ note.id }}">나도 읽었어요</a> |
                    <a href="#/note/{{ note.id }}">나도 읽고싶어요</a>
                </div>
                <div ng-show="note.user.id == user.id">
                    <a href="" ng-click="edit_note(note)">수정</a> |
                    <a href="" ng-click="delete_note(note, $index)">삭제</a>
                </div>
            </div>
        </div>
    </div>
</div>
