<div class="hidden-xs col-sm-4 col-md-3 page-left">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                {{ user.fullname }}
            </h4>
        </div>
        <div class="panel-body">
            추천 도서: 총 {{ books.length }}권
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                메뉴
            </h4>
        </div>
        <div class="list-group">
            <a href="" class="list-group-item active">친구들이 읽은 책</a>
        </div>
    </div>
</div>

<div class="col-xs-15 col-sm-11 col-md-12 page-right">
    <div class="list-title">
            <div class="row">
                <h4 class="col-xs-10 col-sm-10">책 추천 목록</h4>

                <div class="pull-right page-menu-button dropdown hidden-sm hidden-md hidden-lg">
                    <div class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span
                            class="glyphicon glyphicon-menu-hamburger"></span></div>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" class="active"><a role="menuitem" tabindex="-1" href="#/book/">친구들이 읽은 책</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="page-info">
            <div class="ng-hide alert alert-info" ng-show="books && books.length == 0">
                <span class="glyphicon glyphicon-alert"></span> 추천할 책이 없습니다.
            </div>
        </div>
        <resource>
            <div class="list-item media" ng-repeat="book in books | filter:book_title">
                <div class="media-left">
                    <a href="">
                        <img class="media-object book-photo-large" ng-src="{{ book.photo | bookPhoto }}" alt="{{ book.title }}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="">{{ book.title }}</a></h4>

                    <div class='panel-detail'>
                        <span>저자: {{ book.author }}</span> |
                        <span>출판사: {{ book.publisher }}</span> |
                        <span>ISBN: {{ book.isbn }}</span> |
                        <span>출판일: {{ book.pub_date | date:"yyyy-MM-dd" }}</span>
                    </div>
                    <p class="panel-content">{{ book.description | truncate: 256 }}</p>

                    <div class="panel-action">
                        <div ng-show="note.user.id != user.id">
                            <a href="#/note/{{ note.id }}">나도 읽었어요</a> |
                            <a href="#/note/{{ note.id }}">나도 읽고싶어요</a>
                        </div>
                        <div ng-show="note.user.id == user.id">
                            <a href="" ng-click="edit_note(note)">수정</a> |
                            <a href="" ng-click="delete_note(note, $index)">삭제</a>
                        </div>
                    </div>
                </div>
            </div>
        </resource>
</div>