<link href="/static/bine/css/friend.css" rel="stylesheet">

<div class="row main-content">
    <div class="col-md-2 left-panel">
        <div class="list-group">
            <a href="#/friend/confirmed/" class="list-group-item">내 친구</a>
            <a href="#/friend/unconfirmed/" class="list-group-item">친구 요청</a>
            <a href="#/friend/search/" class="list-group-item">친구 찾기</a>
            <a href="#/friend/recommend/" class="list-group-item active">새 친구 추천</a>
        </div>
    </div>
    <div class="col-md-10 right-panel">
        <div class="row">
            <h4>알 수도 있는 친구</h4>
        </div>
        <div class="alert alert-warning" ng-show="!friends.length">
            <span class="glyphicon glyphicon-alert"></span> 친구 추천을 위해선 추가정보가 필요합니다.
        </div>
        <div class="row friend-panel" ng-repeat="friend in friends">
            <div class="media">
                <div class="media-left">
                    <a href="">
                        <img class="media-object user-photo" ng-src="


                                {{ friend.photo != null && friend.photo || friend.sex == 'M' && '/static/app/images/male.jpg' || '/static/app/images/female.jpg'}}"
                             alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading friend-title">{{ friend.fullname }}</h4>

                    <div class="friend-info">
                        <div><a href="">이지윤</a>님외 <a href="">4</a>명이 함께 알고 있습니다.</div>
                    </div>
                    <button class="btn btn-xs btn-default" ng-click="add_friend(friend, $index)">친구 요청</button>
                </div>
            </div>
        </div>
    </div>
</div>