<!-- Book 생성 -->
<div class="modal" id="new_book_modal"
     tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form name="new_book_form" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">책 직접 입력 및 저장</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="book_title" class="sr-only">책이름</label>
                        <input type="text" class="form-control" name="book_title" ng-model="book_title"
                               placeholder="책이름" required>

                        <div class="error-msg" ng-show="new_book_form.$submitted || new_book_form.book_title.$touched">
                            <div ng-show="new_book_form.book_title.$error.required">
                                <span class='glyphicon glyphicon-info-sign'></span>책이름은 필수항목입니다.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="book_author" class="sr-only">글쓴이</label>
                        <input type="text" class="form-control" name="author" ng-model="new_book.author"
                               placeholder="지은이" required>

                        <div class="error-msg" ng-show="new_book_form.$submitted || new_book_form.author.$touched">
                            <div ng-show="new_book_form.author.$error.required">
                                <span class='glyphicon glyphicon-info-sign'></span>글쓴이는 필수항목입니다.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="book_publisher" class="sr-only">출판사</label>
                        <input type="text" class="form-control" name="publisher" ng-model="new_book.publisher"
                               placeholder="출판사" required>

                        <div class="error-msg" ng-show="new_book_form.$submitted || new_book_form.publisher.$touched">
                            <div ng-show="new_book_form.publisher.$error.required">
                                <span class='glyphicon glyphicon-info-sign'></span>출판사는 필수항목입니다.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="book_isbn" class="sr-only">ISBN</label>
                        <input type="text" class="form-control" name="isbn" ng-model="new_book.isbn13"
                               placeholder="ISBN" ng-minlength="9" ng-maxlength="13" required>

                        <div class="error-msg" ng-show="new_book_form.$submitted || new_book_form.isbn.$touched">
                            <div ng-show="new_book_form.isbn.$error.required">
                                <span class='glyphicon glyphicon-info-sign'></span>ISBN은 필수항목입니다. 보통 책의 뒤 커버에서 확인할 수
                                있습니다.
                            </div>
                            <div ng-show="new_book_form.isbn.$error.minlength || new_book_form.isbn.$error.maxlength">
                                <span class='glyphicon glyphicon-info-sign'></span>ISBN은 9자리 또는 13자리의 숫자로 구성됩니다.
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-info" ng-show="http_status > 200"><span
                            class="glyphicon glyphicon-warning-sign"></span>책을 저장하지 못했습니다. 잠시후에 다시 시도해 주십시오.
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-click="save_new_book()">저장</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">닫기</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Book Search Modal -->
<div class="modal book-search-modal" id="book_search_modal"
     tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">책 검색 및 선택</h4>

            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="book_title"
                           placeholder="책이름" auto-focus ng-keyup="$event.keyCode == 13 ? search_book() : null"> <span
                        class="input-group-btn">
						<button class="btn btn-primary" type="submit"
                                ng-click="search_book()">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
					</span>
                </div>

                <div class="row">
                    <spinner></spinner>
                    <div class="col-xs-15 alert alert-info" ng-show="book_http_status != -1 && book_http_status != 200">
                        <span class="glyphicon glyphicon-warning-sign"></span>서버로부터 책 정보를 가져오지 못했습니다. 잠시 후 다시 시도해주십시오.
                    </div>
                    <div class="col-xs-15 alert alert-info" ng-show="book_http_status != -1">
                        <span class="glyphicon glyphicon-warning-sign"></span> 찾으시는 책이 없나요? 책이름외에 지은이나 출판사를 함께 적어서 검색을
                        해보세요. 그래도 없으면 <a href="" ng-click="show_new_book_modal()">여기</a>를 클릭하여
                        직접 책을 입력할 수 있습니다.
                    </div>
                    <resource>
                        <div class="row">
                            <div class="col-xs-5 col-sm-3"
                                 ng-repeat="book in books">
                                <div class="thumbnail">
                                    <a href="" ng-click="select_book(book)">
                                        <img class="book-photo" ng-src="{{ book.cover_s_url }}"
                                             alt="{{ book.title }}">
                                    </a>

                                    <div class="caption book-caption">
                                        <p class="book-title"> {{ book.title }} </p>

                                        <p class="book-detail">저자: {{ book.author }}</p>

                                        <p class="book-detail">출판사: {{ book.pub_nm }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </resource>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<div class="panel  panel-primary note-new-panel">
    <div class="panel-heading">
        <a href="#/note/"><span class="glyphicon glyphicon-menu-left"></span></a>독서노트
    </div>
    <form name="note_form" class="form-horizontal" novalidate>
        <div class="panel-body">

            <div class="form-group">
                <label for="book_title" class="col-sm-2 control-label">책제목:</label>

                <div class="col-sm-13">
                    <div class="input-group">
                        <input class="form-control" type="text" name="book_title" ng-model="book_title"
                               placeholder="읽은 책을 검색하세요." required readonly><span
                            class="input-group-btn">
						<button class="btn btn-primary" type="button"
                                ng-click="search_book()">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
					</span>
                    </div>
                    <div class="error-msg"
                         ng-show="note_form.$submitted || note_form.book_title.$touched">
                        <div ng-show="note_form.book_title.$error.required">
                            <span class='glyphicon glyphicon-info-sign'></span>책이름이 필요합니다.
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label for="content" class="col-sm-2 control-label">감상문:</label>

                <div class="col-sm-13">
                    <textarea class="form-control" ng-model="note.content"
                              name="content" rows="8" placeholder="책 내용을 정리하거나 읽고난 느낌을 쓰세요."
                              required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="content" class="col-sm-2 control-label">독서날짜:</label>

                <div class="col-sm-13">
                    <input type="date" class="form-control inline-control" ng-model="note.read_date_from"
                           name="read_date_from">
                    <label class="form-control-static inline-control"> ~ </label>
                    <input type="date" class="form-control inline-control"
                           ng-model="note.read_date_to" name="read_date_to">
                </div>
            </div>
            <div class="form-group">
                <label for="content" class="col-sm-2 control-label">평가:</label>

                <div class="col-sm-13">
                    <star-rating rating-value="rating" max="5"></star-rating>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="email">공개 범위:</label>

                <div class="col-sm-13">
                    <label
                            class="radio-inline"> <input type="radio"
                                                         ng-model="note.share_to" name="share_to" value="P"> 개인
                    </label> <label class="radio-inline"> <input type="radio"
                                                                 ng-model="note.share_to" name="share_to" value="F"
                                                                 checked>
                    친구
                </label> <label class="radio-inline"> <input type="radio"
                                                             ng-model="note.share_to" name="share_to" value="A"> 모두
                </label>
                </div>
            </div>

            <div class="form-group">
                <label for="attach" class="col-sm-2 control-label">첨부파일:</label>

                <div class="col-sm-13">
                    <attach attachurl="note.attach"></attach>
                    <div class="btn btn-default"
                         ng-file-select
                         ng-model="note.attach"
                         ng-multiple="false">파일 첨부
                    </div>
                </div>
            </div>

        </div>

        <div class="panel-footer">
            <div class="form-group">
                <label for="attach" class="col-sm-2 control-label"></label>

                <div class="col-sm-13">
                    <button type="submit" class="btn btn-primary" ng-click="save()">저장</button>
                    <button class="btn btn-primary" ng-click="go_back()">뒤로</button>
                    <span ng-show="http_status == 200" class="error-msg alert alert-success"> 성공적으로 저장되었습니다.</span>
                    <span ng-show="http_status > 200" class="error-msg alert alert-danger">서버 문제로 인해 저장되지 못했습니다. 잠시후 다시 시도해 주십시오.</span>
                </div>
            </div>
        </div>

    </form>
</div>



