<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Bine</a>
        <ul class="nav navbar-nav visible-sm visible-md visible-lg">
            <li class="active"><a href="#/note/"><span class="glyphicon glyphicon-file"></span><span
                    class="menu_caption"> 노트</span></a></li>
            <li><a href="#/book/"><span class="glyphicon glyphicon-book"></span><span class="menu_caption"> 책</span></a>
            </li>
            <li><a href="#/friend/"><span class="glyphicon glyphicon-user"></span><span class="menu_caption"> 친구</span></a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right visible-sm visible-md visible-lg">
            <li>
                <a class="login-user" href="#/user/">
                    <img data-toggle="tooltip" data-placement="left" title="{{ user.fullname }} 로그인 중" ng-src="

                            {{ user.photo || user.sex == 'M' && '/static/app/images/male.jpg' || '/static/app/images/female.jpg'}}">
                </a>
            </li>
        </uL>

        <ul class="nav navbar-nav navbar-right hidden-sm hidden-md hidden-lg">
            <li class="active">
                <a href="#/note/"><span class="glyphicon glyphicon-file"></span></a>
            </li>
            <li>
                <a href="#/book/"><span class="glyphicon glyphicon-book"></span></a>
            </li>
            <li>
                <a href="#/friend/"><span class="glyphicon glyphicon-user"></span></a>
            </li>
            <li>
                <div class="dropdown pull-right">
                    <div class="float-menu dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span
                            class="glyphicon glyphicon-menu-hamburger"></span>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                   href="#/note/new">{{ user.fullname }}</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">기본 정보 수정</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">활동 보기</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">로그아웃</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/note/new">독서노트 작성</a></li>

                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">전체 독서노트 보기</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">내 독서노트만 보기</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">새 독서노트만 보기</a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <div class="input-group  hidden-xs">
                    <input type="text" class="form-control" placeholder="책 검색">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
						</span>
                </div>

            </div>
        </form>
    </div>
</nav>

<div class="hidden-xs col-sm-4 col-md-3 page-menu">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                       aria-controls="collapseOne">
                        {{ user.fullname }}
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    친구 10명이 등록되어 있습니다.<br>
                    이번 주엔 10권을 읽었습니다. <br>
                    목표까지 10권의 책이 남았습니다.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                       aria-expanded="false" aria-controls="collapseTwo">
                        메뉴
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="list-group">
                    <a href="" class="list-group-item active">전체 독서노트 보기</a>
                    <a href="" class="list-group-item">내 독서노트만 보기</a>
                    <a href="" class="list-group-item">친구 독서노트만 보기</a>
                    <a href="" class="list-group-item">새 독서노트만 보기</a>
                    <a href="#/note/new/" class="list-group-item">독서노트 작성</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-xs-15 col-sm-11 col-md-12 page-content">
    <div class="col-xs-15">
        <h4 class="list-title">독서노트 목록</h4>

        <div class="ng-hide alert alert-warning" ng-show="noData">
            <span class="glyphicon glyphicon-alert"></span> 아직 독서 노트를 작성하지 않으셨네요. 새로 독서노트를 작성하려면 <a
                href="#/note/new/">여기</a>를
            눌러주세요.
        </div>
    </div>
    <div class="list-item media col-xs-15" ng-repeat="note in notes">
        <div class="media-left">
            <a href="#">
                <img class="media-object" ng-src="{{ note.book.photo }}" alt="{{ note.book.title }}">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a href="#/note/{{ note.id }}">{{ note.book.title }}</a></h4>

            <div class='panel-detail'>
                <span>{{ note.user.fullname }}</span> |
                <span>{{ note.created_at | date:"yyyy-MM-dd" }}</span> |
                <span ng-bind-html="make_html_preference(note.preference)"></span>
                <span ng-bind-html="make_html_attach(note.attach)"></span>
            </div>
            <p class="panel-content">{{ note.content | truncate: 256 }}</p>

            <div class="panel-action">
                <div ng-show="note.user.id != user.id">
                    <a href="#/note/{{ note.id }}">나도 읽었어요</a> |
                    <a href="#/note/{{ note.id }}">나도 읽고싶어요</a>
                </div>
                <div ng-show="note.user.id == user.id">
                    <a href="" ng-click="edit_note(note)">수정</a> |
                    <a href="" ng-click="delete_note(note, $index)">삭제</a>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="list-item panel panel-default" ng-repeat="note in notes">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <a href='#/note/{{ note.id }}'> <img class="book-photo"
                                                 ng-src="{{ note.book.photo }}" align="left">
            </a>

            <h4 class="panel-title">
                <a href="#/note/{{ note.id }}">{{ note.book.title }}</a></h4>

            <div class='panel-detail'>
                <span>{{ note.user.fullname }}</span> |
                <span>{{ note.created_at | date:"yyyy-MM-dd" }}</span> |
                <span ng-bind-html="make_html_preference(note.preference)"></span>
                <span ng-bind-html="make_html_attach(note.attach)"></span>
            </div>
            <p class="panel-content">{{ note.content | truncate: 256 }}</p>
        </div>

    </div>
    -->
</div>