<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#/note/">Bine</a>
        <ul class="nav navbar-nav visible-sm visible-md visible-lg">
            <li class="active"><a href="#/note/"><span class="glyphicon glyphicon-edit"></span><span
                    class="menu_caption"> 노트</span></a></li>
            <li><a href="#/book/"><span class="glyphicon glyphicon-book"></span><span class="menu_caption"> 책</span></a>
            </li>
            <li><a href="#/friend/"><span class="glyphicon glyphicon-user"></span><span class="menu_caption"> 친구</span></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-sm hidden-md hidden-lg">
            <li class="active">
                <a href="#/note/"><span class="glyphicon glyphicon-edit"></span></a>
            </li>
            <li>
                <a href="#/book/"><span class="glyphicon glyphicon-book"></span></a>
            </li>
            <li>
                <a href="#/friend/"><span class="glyphicon glyphicon-user"></span></a>
            </li>
            <li>
                <div class="dropdown pull-right">
                    <div class="float-menu dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span
                            class="glyphicon glyphicon-menu-hamburger"></span>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/note/new">독서노트 작성</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">전체 독서노트 보기</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">내 독서노트만 보기</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">새 독서노트만 보기</a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <form class="navbar-form navbar-right hidden-xs" role="search">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="책 검색">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
						</span>
                </div>
            </div>
        </form>
    </div>
</nav>

<div class='detail-container'>
    <ol class="breadcrumb">
        <li><a href="#/note/">노트</a></li>
        <li class="active">자세히보기</li>
    </ol>


    <div class="panel panel-default detail-item">
        <div class="panel-heading">
            <h4 class="panel-title">{{ note.book.title }}</h4>
        </div>
        <div class="panel-body">
            <img class="book-photo" ng-src="{{ note.book.photo }}" align="right">

            <div class='panel-detail'>
                <span>작가: {{ note.book.author }}</span> |
                <span>번역가: {{ note.book.translator }}</span> |
                <span>출판일: {{ note.book.pub_date | date:"yyyy-MM-dd" }}</span> |
                <span>출판사: {{ note.book.publisher }}</span> |
                <span>ISBN: {{ note.book.isbn }}</span> |
                <span>카테고리: {{ note.book.category }}</span>
            </div>
            <p class="panel-content">{{ note.book.description }} <a href="{{ note.book.link }}"> 더 보기</a></p>
        </div>
        <div class="panel-footer" ng-show="note.user.id != user.id">
            <a href="" ng-click="edit_note(note)">나도 읽었어요</a> | <a href="" ng-click="edit_note(note)">읽고 싶어요</a>
        </div>
    </div>
    <div class="panel panel-default detail-item">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#/note/{{ note.id }}">{{ note.user.id === user.id ? '나' : note.user.fullname }}의 독후감</a></h4>
        </div>
        <div class="panel-body">
            <div class='panel-detail'>
                <span>{{ note.created_at | date:"yyyy-MM-dd h:mm a" }}</span> |
                <span ng-bind-html="make_html_preference(note.preference)"></span> |
                <span>{{ make_html_share(note.share_to) }}</span>
                <span ng-bind-html="make_html_attach(note.attach)"></span>
            </div>
            <p class="panel-content">{{ note.content }}</p>
        </div>
        <div class="panel-footer" ng-show="note.user.id == user.id">
            <a href="" ng-click="edit_note()">수정</a> | <a href="" ng-click="delete_note()">삭제</a>
        </div>
    </div>
</div>

<!-- New Review Modal -->
<div class="modal fade" id="reply_modal" tabindex="-1" role="dialog"
     aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">리뷰작성</h4>
            </div>
            <div class="modal-body">
                <form class="form">
                    <textarea class='form-control' rows='3'
                              ng-model="new_reply_content"></textarea>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary"
                        ng-click="save_reply()">저장
                </button>
            </div>
        </div>
    </div>
</div>