<div class="hidden-xs col-sm-4 col-md-3 page-left">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                메뉴
            </h4>
        </div>
        <div class="list-group">
            <a href="#/user/m1/" class="list-group-item" ng-class="{'active': current_menu=='m1' }">기본정보</a>
            <a href="#/user/m2/" class="list-group-item" ng-class="{'active': current_menu=='m2' }">자기소개</a>
            <a href="#/user/m3/" class="list-group-item" ng-class="{'active': current_menu=='m3' }">독서목표</a>
        </div>
    </div>
</div>

<div class="col-xs-15 col-sm-11 col-md-12 page-right">
    <div class="list-title">
        <div class="row">
            <h4 class="col-xs-10 col-sm-10">{{ page_title }}</h4>

            <div class="pull-right page-menu-button dropdown hidden-sm hidden-md hidden-lg">
                <div class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span
                        class="glyphicon glyphicon-menu-hamburger"></span></div>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation" ng-class="{'active': current_menu=='m1' }"><a role="menuitem"
                                                                                          tabindex="-1"
                                                                                          href="#/user/m1/"
                                                                                          ng-click="show_m1()">기본정보</a>
                    </li>
                    <li role="presentation" ng-class="{'active': current_menu=='m2' }"><a role="menuitem"
                                                                                          tabindex="-1"
                                                                                          href="#/user/m2/"
                                                                                          ng-click="show_m2()">자기소개</a>
                    </li>
                    <li role="presentation" ng-class="{'active': current_menu=='m3' }"><a role="menuitem"
                                                                                          tabindex="-1"
                                                                                          href="#/user/m3/"
                                                                                          ng-click="show_m3()">독서목표</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="ng-hide alert alert-info" ng-show="noData">
            <span class="glyphicon glyphicon-alert"></span> 추천할 책이 없습니다.
        </div>
    </div>

    <div class="list-item">
        <div ng-show="current_menu=='m1'" ng-show="http_status==200">
            <form name="user_form" class="form-horizontal" novalidate>
                <div class="row">
                    <div class="col-sm-15">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="username">아이디:</label>

                            <div class="col-sm-13">
                                <input type="text" class="form-control" ng-model="username" name="username"
                                       placeholder="아이디"
                                       readonly required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="fullname">이름:</label>

                            <div class="col-sm-13">
                                <input type="text" class="form-control" ng-model="fullname"
                                       name="fullname" placeholder="이름" required>

                                <div class="error-msg"
                                     ng-show="user_form.$submitted || user_form.fullname.$touched">
                                    <div ng-show="user_form.fullname.$error.required">
                                        <span class='glyphicon glyphicon-info-sign'></span>이름은 필수
                                        항목입니다.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="email">이메일:</label>

                            <div class="col-sm-13">
                                <input type="email" class="form-control" ng-model="email"
                                       name="email" placeholder="이메일" required>

                                <div class="error-msg"
                                     ng-show="user_form.$submitted || user_form.email.$touched">
                                    <div ng-show="user_form.email.$error.required">
                                        <span class='glyphicon glyphicon-info-sign'></span>이메일 주소는 필수
                                        항목입니다.
                                    </div>
                                    <div ng-show="user_form.email.$error.email">
                                        <span class='glyphicon glyphicon-info-sign'></span>올바른 이메일 주소를
                                        입력해 주십시오.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="birth_year">생일:</label>

                            <div class="col-sm-13">
                                <select
                                        class="form-control inline-control"
                                        ng-model="birth_year" name="birth_year" required>
                                    <option value="">년도</option>
                                    <option value="{{ item }}" ng-repeat="item in year_list">{{ item }}</option>
                                </select>
                                <select class="form-control inline-control"
                                        ng-model="birth_month" name="birth_month" required>
                                    <option value="">월</option>
                                    <option value="{{ item }}" ng-repeat="item in month_list">{{ item }}</option>
                                </select>
                                <select class="form-control inline-control"
                                        ng-model="birth_day" name="birth_day" required>
                                    <option value="">일</option>
                                    <option value="{{ item }}" ng-repeat="item in day_list">{{ item }}</option>
                                </select> <span class="clearfix"></span>

                                <div class="error-msg"
                                     ng-show="user_form.$submitted || user_form.birth_day.$touched">
                                    <div ng-show="user_form.birth_year.$error.required || user_form.birth_month.$error.required || user_form.birth_day.$error.required">
                                        <span class='glyphicon glyphicon-info-sign'></span>생일은 필수 항목입니다.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <label class="col-sm-2 control-label" for="sex">성별:</label>

                            <div class="col-sm-13">
                                <div class=" btn-group pull-left" data-toggle="buttons">
                                    <label class="btn btn-default btn-sex btn-left"
                                           ng-class="{'active': sex == 'M'}" ng-click="set_sex('M')"> <input
                                            type="radio" name="sex" ng-model="sex"
                                            value="M" required autocomplete="off"> 남자
                                    </label> <label class="btn btn-default btn-sex"
                                                    ng-class="{'active': sex == 'F'}" ng-click="set_sex('F')">
                                    <input
                                            type="radio" name="sex" ng-model="sex"
                                            value="F" required autocomplete="off"> 여자
                                </label>

                                </div>
                                <span class="clearfix"></span>

                                <div class="error-msg"
                                     ng-show="user_form.$submitted || user_form.sex.$touched">
                                    <div ng-show="user_form.sex.$error.required">
                                        <span class='glyphicon glyphicon-info-sign'></span>성별은 필수 항목입니다.
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group password-form">
                            <label class="col-sm-2 control-label" for="current_password">비밀번호:</label>

                            <div class="col-sm-13">
                                <input type="password" class="form-control" ng-model="current_password"
                                       name="current_password" placeholder="현재 비밀번호" ng-minlength="6"
                                       ng-change="user_form.current_password.$error.wrong_password=undefined">

                                <div class="error-msg"
                                     ng-show="user_form.$submitted || user_form.current_password.$touched">
                                    <div ng-show="user_form.current_password.$error.wrong_password">
                                        <span class='glyphicon glyphicon-info-sign'></span>비밀번호가 잘못입력되었습니다.
                                    </div>
                                    <div ng-show="user_form.current_password.$error.minlength">
                                        <span class='glyphicon glyphicon-info-sign'></span>비밀번호는 최소 6자
                                        이상이어야 합니다.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group password-form">
                            <label class="col-sm-2 control-label  sr-only" for="password1">새 비밀번호:</label>

                            <div class="col-sm-13">
                                <input type="password" class="form-control" ng-model="password1"
                                       name="password1" placeholder="새 비밀번호" ng-minlength="6"
                                       ng-required="user_form.current_password.length >= 6">

                                <div class="error-msg"
                                     ng-show="user_form.$submitted || user_form.password1.$touched">
                                    <div ng-show="user_form.password1.$error.required">
                                        <span class='glyphicon glyphicon-info-sign'></span>이전 비밀번호를 입력해 주십시오.
                                    </div>
                                    <div ng-show="user_form.password1.$error.minlength">
                                        <span class='glyphicon glyphicon-info-sign'></span>비밀번호는 최소 6자
                                        이상이어야 합니다.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label sr-only" for="password2">비밀번호 재확인:</label>

                            <div class="col-sm-13">
                                <input type="password" class="form-control"
                                       ng-model="password2" name="password2"
                                       placeholder="새 비밀번호 재확인"
                                       ng-required="user_form.password1 == user_form.password2">

                                <div class="error-msg"
                                     ng-show="! (user_form.password1.$error.required || user_form.password1.$error.minlength) && (user_form.$submitted || user_form.password2.$touched)">
                                    <div ng-show="user_form.password2.$error.required">
                                        <span class='glyphicon glyphicon-info-sign'></span>비밀번호가 일치하지
                                        않습니다.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-offset-2">
                    <button type="submit" class="btn btn-md btn-primary"
                            ng-click="update_user()">저장하기
                    </button>
                    <div class="http-error">
                        <div class="alert alert-success" ng-show="http_status==200">
                            개인 정보를 수정하였습니다.
                        </div>
                        <div class="alert alert-danger" ng-show="http_status==500">
                            서버에 문제가 있어 사용자 정보를 수정하지 못했습니다. 다시 시도하거나 사이트 관리자에게 문의하시기 바랍니다.
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div ng-show="current_menu=='m2'">
            <form name="m2_form" class="form-horizontal" novalidate>
                <div class="row">
                    <div class="col-sm-15">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="photo">사진:</label>

                            <div class="col-sm-13">
                                <div class="user-photo-upload"
                                     ng-file-select
                                     ng-file-change="upload($files)"
                                     ng-model="photo"
                                     ng-multiple="false"
                                     ng-capture="'camera'"
                                     accept="'image/*'">
                                    <img class="user-photo img-thumbnail" ng-show="!loading"
                                         ng-src="{{ photo | photo: sex }}">

                                    <div class="user-photo img-thumbnail" ng-show="loading">
                                        <img src="/static/app/images/loading.gif" width="50px" height="50px">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="tagline">자기 소개:</label>

                            <div class="col-sm-13">
                                <textarea class="form-control" ng-model="tagline"
                                          name="tagline" placeholder="자신을 소개하세요." rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="school_name">학교:</label>

                            <div class="col-sm-13 input-group">
                                <input type="text" class="form-control" ng-model="school_name" placeholder="학교명"
                                       ng-keyup="$event.keyCode == 13 ? show_school_search_dlg() : null" disabled>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button"
                                            ng-click="show_school_search_dlg()">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-offset-2">
                            <button type="button" class="btn btn-md btn-primary"
                                    ng-click="update_user()">저장하기
                            </button>
                            <div class="http-error">
                                <div class="alert alert-success" ng-show="http_status==200">
                                    자기소개 내용들을 수정하였습니다.
                                </div>
                                <div class="alert alert-danger" ng-show="http_status==500">
                                    서버에 문제가 있어 자기소개 내용을 수정하지 못했습니다. 다시 시도하거나 사이트 관리자에게 문의하시기 바랍니다.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

        </div>
        <div ng-show="current_menu=='m3'">
            <form name="m3_form" class="form-horizontal" novalidate>
                <div class="row">
                    <div class="col-sm-15">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="photo">기간:</label>

                            <div class="col-sm-13">
                                <input type="date" class="form-control inline-control" ng-model="target_from">

                                <label class="form-control-static inline-control"> ~ </label>

                                <input type="date" class="form-control inline-control" ng-model="target_to">

                                <div class="form-control-static inline-control"> 예: 2015-02-01</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="tagline">목표:</label>

                            <div class="col-sm-13">
                                <input type="text" class="form-control" ng-model="target_books"
                                       placeholder="기간내에 읽을 책 수">
                            </div>
                        </div>

                        <div class="col-sm-offset-2">
                            <button type="submit" class="btn btn-md btn-primary"
                                    ng-click="update_user()">저장하기
                            </button>
                            <div class="http-error">
                                <div class="alert alert-success" ng-show="http_status==200">
                                    정상적으로 저장되었습니다.
                                </div>
                                <div class="alert alert-danger" ng-show="http_status==500">
                                    서버에 문제가 있어 저장하지 못했습니다. 잠시 후에 다시 시도하거나 사이트 관리자에게 문의하시기 바랍니다.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade school-search-modal" id="school_search_modal"
     tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">학교 검색</h4>

            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="school_name"
                           placeholder="학교 이름" ng-keyup="$event.keyCode == 13 ? search_schools() : null"> <span
                        class="input-group-btn">
						<button class="btn btn-primary" type="submit"
                                ng-click="search_schools()">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
					</span>
                </div>

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="school in schools"><a href=""
                                                                                 ng-click="select_school(school)">{{ school.name }}
                    </a> | {{ school.address }}</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            </div>
        </div>

    </div>
</div>
