<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#/note/">Bine</a>
        <ul class="nav navbar-nav visible-sm visible-md visible-lg">
            <li class="active"><a href="#/note/"><span class="glyphicon glyphicon-file"></span><span
                    class="menu_caption"> 노트</span></a></li>
            <li><a href="#/book/"><span class="glyphicon glyphicon-book"></span><span class="menu_caption"> 책</span></a>
            </li>
            <li><a href="#/friend/"><span class="glyphicon glyphicon-user"></span><span class="menu_caption"> 친구</span></a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right visible-sm visible-md visible-lg">
            <li>
                <div class="dropdown pull-right ">
                    <div class="float-menu dropdown-toggle login-user" data-toggle="dropdown" aria-expanded="true">
                        <a href=""><img data-toggle="tooltip" data-placement="left" title="{{ user.fullname }} 로그인 중"
                                        ng-src="{{ user.photo | photo: user.sex }}">
                        </a>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="user_dropdown">
                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                   href="#/user/">{{ user.fullname }}</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/user/">기본 정보 수정</a></li>
                        <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">활동 보기</a>
                        </li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/login/">로그아웃</a></li>
                    </ul>
                </div>
            </li>
        </uL>

        <ul class="nav navbar-nav navbar-right hidden-sm hidden-md hidden-lg">
            <li class="active">
                <a href="#/note/"><span class="glyphicon glyphicon-file"></span></a>
            </li>
            <li>
                <a href="#/book/"><span class="glyphicon glyphicon-book"></span></a>
            </li>
            <li>
                <a href="#/friend/"><span class="glyphicon glyphicon-user"></span></a>
            </li>
            <li>
                <div class="dropdown pull-right">
                    <div class="float-menu dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span
                            class="glyphicon glyphicon-menu-hamburger"></span>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                   href="#/user/">{{ user.fullname }}</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/user/">기본 정보 수정</a></li>
                        <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">활동 보기</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <div class="input-group  hidden-xs">
                    <input type="text" class="form-control" placeholder="책 검색">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
						</span>
                </div>

            </div>
        </form>
    </div>
</nav>

<div class="hidden-xs col-sm-4 col-md-3 page-left">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                메뉴
            </h4>
        </div>
        <div class="list-group">
            <a href="" class="list-group-item" ng-class="{'active': current_menu=='account' }"
               ng-click="show_account()">기본정보</a>
            <a href="" class="list-group-item" ng-class="{'active': current_menu=='profile' }"
               ng-click="show_profile()">추가정보</a>
            <a href="" class="list-group-item">활동보기</a>
        </div>
    </div>
</div>

<div class="col-xs-15 col-sm-11 col-md-12 page-right">
    <div class="col-xs-15">
        <div class="list-title">
            <h4>기본 정보 수정</h4>
        </div>

    </div>

    <div class="list-item col-xs-15">
        <div ng-show="current_menu=='account'" ng-show="http_status==200">
            <form name="user_form" class="form-horizontal" novalidate>
                <div class="row">
                    <div class="col-sm-15">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="username">아이디:</label>

                            <div class="col-sm-13">
                                <input type="text" class="form-control" ng-model="user.username" name="username"
                                       placeholder="아이디"
                                       readonly required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="fullname">이름:</label>

                            <div class="col-sm-13">
                                <input type="text" class="form-control" ng-model="user.fullname"
                                       name="fullname" placeholder="이름" required>

                                <div class="error-msg"
                                     ng-show="user_form.$submitted || user_form.fullname.$touched">
                                    <div ng-show="user_form.fullname.$error.required">
                                        <span class='glyphicon glyphicon-info-sign'></span>이름은 필수
                                        항목입니다.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="email">이메일:</label>

                            <div class="col-sm-13">
                                <input type="email" class="form-control" ng-model="user.email"
                                       name="email" placeholder="이메일" required>

                                <div class="error-msg"
                                     ng-show="user_form.$submitted || user_form.email.$touched">
                                    <div ng-show="user_form.email.$error.required">
                                        <span class='glyphicon glyphicon-info-sign'></span>이메일 주소는 필수
                                        항목입니다.
                                    </div>
                                    <div ng-show="user_form.email.$error.email">
                                        <span class='glyphicon glyphicon-info-sign'></span>올바른 이메일 주소를
                                        입력해 주십시오.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="birth_year">생일:</label>

                            <div class="col-sm-13">
                                <select
                                        class="form-control birthday-control"
                                        ng-model="birth_year" name="birth_year" required>
                                    <option value="">년도</option>
                                    <option value="{{ item }}" ng-repeat="item in year_list">{{ item }}</option>
                                </select>
                                <select class="form-control birthday-control"
                                        ng-model="birth_month" name="birth_month" required>
                                    <option value="">월</option>
                                    <option value="{{ item }}" ng-repeat="item in month_list">{{ item }}</option>
                                </select>
                                <select class="form-control birthday-control"
                                        ng-model="birth_day" name="birth_day" required>
                                    <option value="">일</option>
                                    <option value="{{ item }}" ng-repeat="item in day_list">{{ item }}</option>
                                </select> <span class="clearfix"></span>

                                <div class="error-msg"
                                     ng-show="user_form.$submitted || user_form.birth_day.$touched">
                                    <div ng-show="user_form.birth_year.$error.required || user_form.birth_month.$error.required || user_form.birth_day.$error.required">
                                        <span class='glyphicon glyphicon-info-sign'></span>생일은 필수 항목입니다.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <label class="col-sm-2 control-label" for="sex">성별:</label>

                            <div class="col-sm-13">
                                <div class=" btn-group pull-left" data-toggle="buttons">
                                    <label class="btn btn-default btn-sex btn-left"
                                           ng-class="{'active': user.sex == 'M'}" ng-click="set_sex('M')"> <input
                                            type="radio" name="sex" ng-model="user.sex"
                                            value="M" required autocomplete="off"> 남자
                                    </label> <label class="btn btn-default btn-sex"
                                                    ng-class="{'active': user.sex == 'F'}" ng-click="set_sex('F')">
                                    <input
                                            type="radio" name="sex" ng-model="user.sex"
                                            value="F" required autocomplete="off"> 여자
                                </label>

                                </div>
                                <span class="clearfix"></span>

                                <div class="error-msg"
                                     ng-show="user_form.$submitted || user_form.sex.$touched">
                                    <div ng-show="user_form.sex.$error.required">
                                        <span class='glyphicon glyphicon-info-sign'></span>성별은 필수 항목입니다.
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="current_password">비밀번호:</label>

                            <div class="col-sm-13">
                                <input type="password" class="form-control" ng-model="current_password"
                                       name="current_password" placeholder="현재 비밀번호" ng-minlength="6"
                                       ng-change="user_form.current_password.$error.wrong_password=undefined">

                                <div class="error-msg"
                                     ng-show="user_form.$submitted || user_form.current_password.$touched">
                                    <div ng-show="user_form.current_password.$error.wrong_password">
                                        <span class='glyphicon glyphicon-info-sign'></span>비밀번호가 잘못입력되었습니다.
                                    </div>
                                    <div ng-show="user_form.current_password.$error.minlength">
                                        <span class='glyphicon glyphicon-info-sign'></span>비밀번호는 최소 6자
                                        이상이어야 합니다.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label  sr-only" for="password1">새 비밀번호:</label>

                            <div class="col-sm-13">
                                <input type="password" class="form-control" ng-model="password1"
                                       name="password1" placeholder="새 비밀번호" ng-minlength="6"
                                       ng-required="user_form.current_password.length >= 6">

                                <div class="error-msg"
                                     ng-show="user_form.$submitted || user_form.password1.$touched">
                                    <div ng-show="user_form.password1.$error.required">
                                        <span class='glyphicon glyphicon-info-sign'></span>이전 비밀번호를 입력해 주십시오.
                                    </div>
                                    <div ng-show="user_form.password1.$error.minlength">
                                        <span class='glyphicon glyphicon-info-sign'></span>비밀번호는 최소 6자
                                        이상이어야 합니다.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label sr-only" for="password2">비밀번호 재확인:</label>

                            <div class="col-sm-13">
                                <input type="password" class="form-control"
                                       ng-model="password2" name="password2"
                                       placeholder="새 비밀번호 재확인"
                                       ng-required="user_form.password1 == user_form.password2">

                                <div class="error-msg"
                                     ng-show="! (user_form.password1.$error.required || user_form.password1.$error.minlength) && (user_form.$submitted || user_form.password2.$touched)">
                                    <div ng-show="user_form.password2.$error.required">
                                        <span class='glyphicon glyphicon-info-sign'></span>비밀번호가 일치하지
                                        않습니다.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-offset-2">
                    <button type="submit" class="btn btn-md btn-primary"
                            ng-click="update_user()">저장하기
                    </button>
                    <div class="http-error">
                        <div class="alert alert-success" ng-show="http_status==200">
                            사용자 정보가 정상적으로 저장되었습니다.
                        </div>
                        <div class="alert alert-danger" ng-show="http_status==500">
                            서버에 문제가 있어 사용자 정보를 저장하지 못했습니다. 다시 시도하거나 사이트 관리자에게 문의하시기 바랍니다.
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div ng-show="current_menu=='profile'">
            <form name="profile_form" class="form-horizontal" novalidate>
                <div class="row">
                    <div class="col-sm-15">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="photo">사진:</label>

                            <div class="col-sm-13">
                                <img class="user-photo" ng-src="{{ user.photo | photo: user.sex }}">
                                <button class="btn btn-default"
                                        ng-file-select
                                        ng-file-change="upload($files)"
                                        ng-model="photo"
                                        ng-multiple="false"
                                        ng-capture="'camera'"
                                        accept="'image/*'">사진 선택
                                </button>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="tagline">자기 소개:</label>

                            <div class="col-sm-13">
                                <textarea class="form-control" ng-model="user.tagline"
                                          name="tagline" placeholder="자신을 소개하세요." rows="3"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="tagline">학교:</label>

                            <div class="col-sm-13">
                                <select class="form-control">
                                    <option>지역</option>
                                </select>
                                <select class="form-control">
                                    <option>유치원/초/중/고</option>
                                </select>
                                <select class="form-control">
                                    <option>학교</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="tagline">회사:</label>

                            <div class="col-sm-13">
                                <input class="form-control" type="text"/>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>

</div>


